<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}
            {# 文件标题 #}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block extra_head %}
    {% endblock %}
</head>

<body style="background:#eeeeee">
    {% block body %}
        <div class="container" style="background:#ffffff">
        {% block content %}
            {# 页面正文内容 #}
            <div class="container-fluid">
                {% block header %}
    {% block menu %}
    <div class="navbar navbar-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{% url home %}">
                    <strong>V2FX</strong>
                </a>
                <ul class="nav pull-right">
                    <form action="/search" class="navbar-search" method="get">
                        <input type="text" class="search-query" name="search" placeholder="Search" required="required">
                    </form>
                    <li>
                        <a href="{% url home %}"><strong>home</strong></a>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url user user.id %}">
                            <strong>{{ user.username }}</strong>
                            </a>
                        {% else %}
                            <a href="{% url register %}"><strong>sign in</strong></a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="#"><strong>#contact</strong></a>
                    </li>
                    <li>
                        <a href="{% url logout %}"><strong>log out</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
                {% endblock %}
                <div class="row-fluid">
                    <div class="span9">
                        {% block taglist %}
                            {# tag标签导航 #}
                        {% endblock %}

                        {% block article_menu %}
                            {# 用于blog_list #}
                        {% endblock %}

                        {% block article %}
                            {# 用于blog_show #}
                            {% block article_title %}
                            {% endblock %}
                            {% block article_content %}
                            {% endblock %}
                        {% endblock %}

                        {% block comments %}
                        {% endblock %}
                    </div>
                    <div class="span3">
                        {% block aside %}
    {% block user %}
    {% if user.is_authenticated %}
        <legend class="text-center">{{ user.username }}</legend>
        <p>Welcome!</p>
        <p>I am the {{ user.id }}th user!</p>
        <p>Joined in </p>
        <p>{{ user.date_joined }}</p>
    {% else %}
        <div class="row-fluid">
        <form action="login" method="post">
            {% csrf_token %}
            <legend class="text-center">Login In</legend>
            <label for="username">Username:</label>
            <input class="span12" type="text" name="username" value="" id="username">
            <label for="password">Password:</label>
            <input class="span12" type="password" name="password" value="" id="password">
            <div>
                <input type="submit" class="btn span6 offset3" value="login" />
                <input type="hidden" name="next" value="{{ next|escape }}" />
            </div>
        </form>
        </div>
    {% endif %}
    {% endblock %}
    <hr>
    {% block addblog %}
    {% if user.is_authenticated %}
        <a class="btn" href="{% url addblog %}"><i class="icon-plus"></i> add new blog</a>
    {% endif %}
    {% endblock %}
    {% block tags %}
        {# 标签 #}
    {% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block footer %}
        <div id="footer">
            <div class="container-fluid">
                <hr>
                {# 页面的页脚 #}
                <p class="muted text-center">Thanks for visiting my site! </p>
            </div>
        </div>
        {% endblock %}
        </div>
    {% endblock %}
</body>
</html>
